################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PortalDB/PortalDB.dbmdl
/PortalDB/PortalDB.jfm
