


@Html.Partial("~/Views/Home/PortalDeviceGraphsDiv.cshtml")
<div id="PortalDeviceGraphsId"></div>
<script>
    $(document).ready(function () {

        LoadPortalDeviceGraphs(2);
    });


    function LoadPortalDeviceGraphs(Time) {
        var ajaxType = "Get";
        var ajaxUrl = "/PortalUserDevice/PortalDeviceGraphsPartial?Time=" + Time;
        var result = callGenAjax(ajaxType, ajaxUrl, false);
        $('#PortalDeviceGraphsId').html(result);

    }
    function ReloadPortalDeviceGraphs(Time) {
        preloadFunc();

        setTimeout(() => {
            var ajaxType = "Get";
            var ajaxUrl = "/PortalUserDevice/PortalDeviceGraphsPartial?Time=" + Time;
            var result = callGenAjax(ajaxType, ajaxUrl, false);
            $('#PortalDeviceGraphsId').html(result);
        }, 1000);
    

    }

    //setInterval(() => {
    //    ReloadPortalDeviceGraphs(1);
    //}, 3000);

</script>