


@Html.Partial("~/Views/Home/PortalDeviceGraphsDiv.cshtml")
<div id="PortalDeviceGraphsId"></div>
<script>
    $(document).ready(function () {

        LoadPortalDeviceGraphs();
    });


    function LoadPortalDeviceGraphs() {

        var ajaxType = "Get";
        var ajaxUrl = "/PortalUserDevice/PortalDeviceGraphsPartial";
        var result = callGenAjax(ajaxType, ajaxUrl, false);
        $('#PortalDeviceGraphsId').html(result);

    }

    //setInterval(() => {

    //    LoadPortalDeviceGraphs();
    //}, 60000);

</script>