@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="col-md-5">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Login</h4>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form method="post" asp-controller="Account" asp-action="Login"
                  asp-route-returnurl="@Model.ReturnUrl">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Name</label>
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group bmd-form-group">
                            <label class="bmd-label-floating">Email</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary pull-right">Login</button>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

