@using Microsoft.AspNetCore.Identity
@{
 
    

}

<div class="text-center">

    <div id="timedate">
        <a id="mon">January</a>
        <a id="d">1</a>,
        <a id="y">0</a><br />
        <a id="h">12</a> :
        <a id="m">00</a>:
        <a id="s">00</a>
    </div>

</div>
<div class="row">
    @if (User != null && User.Identity.Name != null)
    {
        <div id="portalUserDeviceDashList"></div>
    }
</div>


<script>
 
    function UpdateDeviceStatus() {
        var ajaxType = "Get";
        var ajaxUrl = "/PortalUserDevice/PortalDeviceListPartial/";
        var result = callGenAjax(ajaxType, ajaxUrl, false);
        $('#portalUserDeviceDashList').html(result);
        }
    window.setInterval("UpdateDeviceStatus()", 2500);
</script>