@using Microsoft.AspNetCore.Identity

@if (User != null && User.Identity.Name != null)
{

    <div class="container-fluid" id="portalUserDeviceDashList"></div>

}



@if (User != null && User.Identity.Name != null)
{

    <script>
        $(document).ready(function () {

            LoadPortalUserDevice();

        });

        function RestartPortalDevice(PortalDeviceId) {
            var ajaxType = "Get";
            var ajaxUrl = "/PortalDevice/RestartPortalDevice?PortalDeviceId=" + PortalDeviceId;
            callGenAjax(ajaxType, ajaxUrl, false);
            LoadPortalUserDevice();

        }
        function ShutdownPortalDevice(PortalDeviceId) {
            var ajaxType = "Get";
            var ajaxUrl = "/PortalDevice/ShutdownPortalDevice?PortalDeviceId=" + PortalDeviceId;
            callGenAjax(ajaxType, ajaxUrl, false);
            LoadPortalUserDevice();

        }
        function LoadPortalUserDevice() {
            var ajaxType = "Get";
            var ajaxUrl = "/PortalUserDevice/PortalDeviceListPartial/";
            var result = callGenAjax(ajaxType, ajaxUrl, false);
            $('#portalUserDeviceDashList').html(result);
        }
        function LoadPortalDeviceGraphs() {
            var ajaxType = "Get";
            var ajaxUrl = "/PortalUserDevice/PortalDeviceGraphsPartial" ;
            var result = callGenAjax(ajaxType, ajaxUrl, false);
            $('#PortalDeviceGraphsId').html(result);
        }
        setInterval(() => {
            LoadPortalUserDevice();

        }, 7500);



    </script>

}
