@{
    Portal.Controllers.Api.PortalUserController PortalUserController = new Portal.Controllers.Api.PortalUserController();
    List<Entities.Models.PortalUserDevice> portalUserDeviceDashList = new List<Entities.Models.PortalUserDevice>();
    Entities.Models.PortalUser CurrentUser = new Entities.Models.PortalUser();
    CurrentUser = PortalUserController.GetItemByName(User.Identity.Name);
    Portal.Controllers.Api.PortalUserDeviceController portalUserDeviceController = new Portal.Controllers.Api.PortalUserDeviceController();
    portalUserDeviceDashList = portalUserDeviceController.GetItemList(CurrentUser.Id);
    Portal.Controllers.Api.PortalDeviceUsageController PortalDeviceUsageController = new Portal.Controllers.Api.PortalDeviceUsageController();


}

<div class="row">
    @foreach (var item in portalUserDeviceDashList.OrderBy(x => x.PortalDevice.Name))
    {
        List<string> DeviceNamesList = new List<string>();
        List<string> TempsList = new List<string>();
        string res = "dailySalesChart" + @item.Id;
        string DeviceLastActiveDiv = "DeviceLastActiveDiv" + @item.Id;
        foreach (var itesm in item.PortalDevice.PortalDeviceChildern)
        {
            TempsList.Add(string.Join(",", PortalDeviceUsageController.GetItemByPortalDeviceId(itesm.Id).Select(x => x.Temps).ToArray().Reverse()));
            TempsList = TempsList.Where(s => !string.IsNullOrWhiteSpace(s)).Distinct().ToList();
            DeviceNamesList.Add(itesm.Name);
        }
    <script>
            @{
                string temp = "";
                string DeviceNames = " { 'name': 'Money A', 'data': [12, 9, 7, 8, 5] }";
            }
        $('#@DeviceLastActiveDiv').html('Updated @item.PortalDevice.LastActiveTime.AddHours(2).ToShortTimeString() on @item.PortalDevice.LastActiveTime.ToLongDateString()');


    @foreach (var items in TempsList)
    {
        temp += "["+ @items + "],";

    }
        //  { "name": "Money A", "data": @temp }
        var chart;
        if ($('#@res').length != 0) {

            chart = new Chartist.Line('#@res', {
                labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                series: [
                            @temp
                        ]
            },
           {
                fullWidth: true,
                chartPadding: {
                    right: 40
                },
                plugins: [
                    Chartist.plugins.legend(),
                    Chartist.plugins.ctPointLabels({
                        textAnchor: 'middle'
                    }),
                ]
            });

        }


    </script>
    }



</div>
