@{

    Portal.Controllers.Api.PortalUserController PortalUserController = new Portal.Controllers.Api.PortalUserController();
    Entities.Models.PortalUser CurrentUser = new Entities.Models.PortalUser();
    CurrentUser = PortalUserController.GetItemByName(User.Identity.Name);
    Portal.Controllers.Api.PortalUserWalletDetailsController PortalUserWalletDetailsController = new Portal.Controllers.Api.PortalUserWalletDetailsController();
    var PortalUserWalletList = PortalUserWalletDetailsController.GetPortalUserWalletDetailsByPortalUserId(CurrentUser.Id);
}

<div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">account_balance_wallet</i>
                </div>
                <p class="card-category">Wallet - @PortalUserWalletList.FirstOrDefault().DateCreated.AddHours(2).ToShortTimeString()</p>
                <h3 class="card-title">
                    @PortalUserWalletList.Sum(x => x.CurrencyValue).ToString("C", new System.Globalization.CultureInfo("en-ZA"))
                </h3>
            </div>
            @foreach (var item in PortalUserWalletList)
            {
                <div class="card-footer">
                    <div class="stats">

                        <div><label>@item.Currency&nbsp;-</label><label></label></div>
                        <a style="font-size:medium;" class="success-link">&nbsp;<b>@item.CurrencyValue.ToString("C", new System.Globalization.CultureInfo("en-ZA"))</b></a>


                    </div>
                </div>

            }



        </div>
    </div>

</div>

