<breadcrumb></breadcrumb>
<div id="PortalUserDeviceIndexGrid">
    @Html.Partial("IndexGrid")
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/PortalUserDevice/PortalUserDeviceIndex.js?@Guid.NewGuid().ToString()"></script>
}