@{
    Portal.Controllers.Api.PortalUserController PortalUserController = new Portal.Controllers.Api.PortalUserController();
    List<Entities.Models.PortalUserDevice> portalUserDeviceDashList = new List<Entities.Models.PortalUserDevice>();
    Entities.Models.PortalUser CurrentUser = new Entities.Models.PortalUser();
    CurrentUser = PortalUserController.GetItemByName(User.Identity.Name);
    Portal.Controllers.Api.PortalUserDeviceController portalUserDeviceController = new Portal.Controllers.Api.PortalUserDeviceController();
    portalUserDeviceDashList = portalUserDeviceController.GetItemList(CurrentUser.Id).Where(x => x.SoftDelete == false).ToList();

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">User Device</h4>
                    <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Commands</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in portalUserDeviceDashList)
                                {
                                    <tr>
                                        <td>
                                            <div>
                                                <div style="width:35px;height:35px;display:inline-block;font-size: 20px;" class="pointer" onclick="location.href='/PortalUserDevice/Edit?PortalUserDeviceId=@item.Id'"><a class="fas fa-edit"></a></div>
                                                <div style="width: 35px; height: 35px; display: inline-block; font-size: 20px;" class="pointer" onclick=" DisplayMessage('Are you sure you want to delete : @item.PortalDevice.Name','Delete',1,'DeletePortalUserDevice(@item.Id)')"><a class="fas fa-trash-alt"></a></div>
                                            </div>
                                        </td>
                                        <td>@item.PortalDevice.Name</td>
                                        <td>@item.PortalDevice.Description</td>
                                        @if (item.PortalDevice.Active)
                                        {
                                            <td>Online</td>
                                        }
                                        else
                                        {
                                            <td>Offline</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>

    function DeletePortalUserDevice(PortalUserDeviceId) {
        var ajaxType = "Get";
        var ajaxUrl = "/PortalUserDevice/DeletePortalUserDevice?PortalUserDeviceId=" + PortalUserDeviceId;
        callGenAjax(ajaxType, ajaxUrl, false);

    }
</script>